.top_slide {
    margin-top: 30px;
}
.products  {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}
@media(max-width:768px) {
    .category_products .top_slide h2 {
        font-size: 22px;
    }
    .category_products .top_slide p {
        font-size: 14px;
    }
    .products {
        
    }
}